body {
    width: 70%;
    margin: auto;
    margin-top: 40px;
}
.app-header {
    text-align: center;
}
.c-menu-header>ul {
    padding: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding-bottom: 3px;
    list-style: none;
}
.c-menu-header>ul>li {
    display: inline-block;
    margin-right: 10px;
}
.c-menu-header>ul>li>a {
    color: #34495e;
    text-decoration: none;
}
.router-link-exact-active {
    border-bottom: 3px rgb(0, 0, 0) solid;
}
.c-meta-qrcode {
    border: 1px rgba(0, 0, 0, 0.07) solid;
}

/* program */
.p-course>ul {
    padding: 0;
    padding-left: 20px; 
    list-style: none;
}

@media screen and (max-width: 980px) {
    html {
        height: 100%;
    }
    body {
        color: #727272;
        font: 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
        height: 100%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        padding: 10px;
    }
    .c-meta {
        display: none;
    }
}
